body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Базовые темы */
.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --container-background-color: #fff;
    --button-background-color: #007bff;
    --button-hover-background-color: #0056b3;
    --input-border-color: #ddd;
    --timezone-background-color: #efefef;
}

.dark-theme {
    --background-color: #363537;
    --text-color: #FAFAFA;
    --container-background-color: #424242;
    --button-background-color: #5C5B5E;
    --button-hover-background-color: #4D4C4F;
    --input-border-color: #888;
    --timezone-background-color: #505050;
}

.neutral-theme {
    --background-color: #f4f4f4;
    --text-color: #333333;
    --container-background-color: #ffffff;
    --button-background-color: #9e9e9e;
    --button-hover-background-color: #757575;
    --input-border-color: #ccc;
    --timezone-background-color: #bcbcbc;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--container-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    margin-bottom: 20px;
}

.buttons-container, .input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.crypto-button {
    padding: 10px 20px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.crypto-button:hover {
    background-color: var(--button-hover-background-color);
}

.crypto-recommendations {
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
}

.input-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.input-container button {
    padding: 10px 20px;
    border: none;
    background-color: var(--button-background-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
}

.input-container button:hover {
    background-color: var(--button-hover-background-color);
}

.timezones-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: var(--timezone-background-color);
    padding: 10px;
    border-radius: 8px;
}

.timezone {
    font-size: 16px;
    color: var(--text-color);
}

.additional-charts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.macd-container, .rsi-container {
    width: 100%; /* Чуть меньше половины, чтобы уместиться на странице */
}
ф
h3 {
    text-align: center;
    color: var(--text-color);
}

/* Стилизация контейнера для графика */
.chart-container {
    width: 80%; /* Процент ширины от родительского элемента */
    max-width: 1000px; /* Максимальная ширина контейнера */
    margin: auto; /* Центрирование контейнера на странице */
    padding: 20px; /* Отступы внутри контейнера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень вокруг контейнера */
    background-color: #fff; /* Фоновый цвет контейнера */
}

/* Стилизация самого элемента canvas */
#rsiChartNew, #macdChartNew {
    width: 100% !important; /* Задает ширину canvas равной ширине его контейнера */
    height: 500px !important; /* Фиксированная высота для canvas */
    background-color: #f8f9fa; /* Легкий фоновый цвет для canvas */
}

/* Стилизация кнопок или других элементов управления графиком */
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Дополнительные стилизации для легенды, подписей и т.д., если они выводятся через HTML/CSS */
.legend {
    text-align: center;
    margin-top: 20px;
}
